@media (min-width: 85rem) {
  #onetrust-banner-sdk .ot-sdk-container {
    width: 90% !important;
    max-width: 85rem !important;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2rem);
}
@media (min-width: 45rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row {
    flex-direction: row;
  }
}
@media (min-width: 55rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row {
    padding: 0.5em 2em;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns {
  flex: 1;
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-pc-btn-handler,
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-pc-btn-handler.cookie-setting-link {
  color: #0069bf;
  border-color: #0069bf;
  border-radius: 0.5em;
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-accept-btn-handler,
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-reject-all-handler {
  background: #0069bf;
  border-color: #0069bf;
  border-radius: 0.5em;
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-pc-btn-handler:hover,
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-pc-btn-handler.cookie-setting-link:hover,
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-accept-btn-handler:hover,
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns #onetrust-reject-all-handler:hover {
  background: #004d8c;
  border-color: #0085f2;
}
@media (min-width: 85rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-group-container {
    flex-basis: 60%;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-group-container #onetrust-policy {
  margin: 0;
  padding: clamp(1rem, 2vw, 2rem);
}
@media (min-width: 55rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-group-container #onetrust-policy {
    padding-block: 0.5rem;
    padding-inline: 0;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent {
  position: initial;
  top: initial;
  left: initial;
  transform: initial;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  padding-inline: clamp(1rem, 3vw, 3rem);
}
@media (min-width: 85rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent {
    padding: 0;
    flex-basis: 40%;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent #onetrust-button-group {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: clamp(0.8rem, 2vw, 2rem);
  width: 100%;
}
@media (min-width: 45rem) {
  #onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent #onetrust-button-group {
    flex-direction: row;
  }
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent #onetrust-button-group button {
  flex: 1;
  margin: 0;
}
#onetrust-banner-sdk .ot-sdk-container .ot-sdk-row .ot-sdk-columns#onetrust-button-group-parent #onetrust-button-group button:hover {
  background: #003f73;
  border-color: #0085f2;
  opacity: 1;
  color: white;
}

#onetrust-consent-sdk #onetrust-policy-text {
  max-width: 85ch;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-header {
  height: auto;
  min-height: auto;
  display: flex;
  justify-content: flex-end;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-header .ot-pc-logo {
  display: none;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-header .ot-title-cntr {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 0.8em;
  box-sizing: border-box;
}
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-content > #accept-recommended-btn-handler {
  background: #0069bf !important;
  border-color: #0069bf !important;
  border-radius: 0.5em;
}
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-content > #accept-recommended-btn-handler:hover {
  background: #004d8c !important;
  border-color: #0085f2 !important;
  opacity: 1;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not([aria-expanded]):not(.ot-link-btn),
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer .ot-leg-btn-container .ot-active-leg-btn {
  background: #0069bf;
  border-color: #0069bf;
  border-radius: 0.5em;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not([aria-expanded]):not(.ot-link-btn):hover,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer .ot-leg-btn-container .ot-active-leg-btn:hover {
  background: #004d8c;
  border-color: #0085f2;
  opacity: 1;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-plus-minus span {
  background: #0069bf;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-tab-list .ot-abt-tab .ot-active-menu,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-tab-list .ot-cat-item .ot-active-menu {
  border-color: #0069bf;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer-logo a {
  text-align: right;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-pc-footer-logo a img {
  width: 8em;
}
#onetrust-consent-sdk #onetrust-pc-sdk.otPcPanel.ot-animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

/*# sourceMappingURL=style.css.map */
